/* globals.css or index.css */

/* .remove-shadow {
    @apply shadow-none;
  } */


  .highlight-shadow-active {
    @apply shadow-[0_0_20px_rgba(255,255,0,0.7)];
  }
  
    .shadow-transition-1000 {
        @apply transition-shadow duration-1000 
    }
  
    h1{
        color: yellow;
        text-align: center;
    }
    p{
        color: white;
        font-size: x-large;
        text-align: center;

    }

    section{
        scroll-margin-top: 5rem;
    }

    hr{
        height: 2px;
        background-color: white;
        width: 90%;
        margin-inline: auto;
    }
    li{
        color: aliceblue;
        font-size: x-large;
    }

    @media screen and (max-width:850px ){
    
        .flex-change{
            flex-direction: column;
        }
    }

    @media screen and (max-width:580px ){
    
        .text-small{
            font-size: 2rem;
        }
    }