    .highlight-shadow-active {
        @apply shadow-[0_0_20px_rgba(255,255,0,0.7)];
    }
  
    .shadow-transition-1000 {
        @apply transition-shadow duration-1000 
    }
    body::-webkit-scrollbar:horizontal{
        height: 0px;
  background: transparent;
    }
    h1{
        color: yellow;
        text-align: center;
    }

    p{
        color: white;
        font-size: x-large;
        text-align: center;
    }

    section{
        scroll-margin-top: 5rem;
    }

    hr{
        height: 2px;
        background-color: white;
        width: 90%;
        margin-inline: auto;
    }
    li{
        color: aliceblue;
        font-size: x-large;
    }

    @media screen and (max-width:850px ){
        .flex-change{
            flex-direction: column;
        }
    }

    @media screen and (max-width:1165px ){
        .flex-change{
            flex-direction: column;
        }
    }

    @media screen and (max-width:580px ){
        .text-small{
            font-size: 2rem;
        }
    }

      
    @media (min-width: 768px) {
        body::-webkit-scrollbar:horizontal {
          height: 0px;
          background: transparent;
        }
      }